html {
    scroll-behavior: smooth;
}

body {
    background: var(--second-color);
    overflow-x: hidden;
    cursor: none;
}

/******************************************/



/* Customized  Scroll  */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c1);
}

/* End of Customized  Scroll  */

* {
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1: #ffffff;
    /*     white       */
    --c2: #000000;
    /*     black       */
    --c3: #cccccc;
    /*                 */
    --c4: #FA9700;
    /*                 */
    --c5: ;
    /*                 */
    --c6: #4b4b4b;
    /*                 */
    --c7: ;
    /*                 */
    --c8: ;
    /*                 */
    --c9: ;
    /*                 */
    --c10: ;
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;

}

.c1 {
    color: #ffffff;
}

.c2 {
    color: #000000;
}

.c3 {
    color: #cccccc;
}

.c4 {
    color: #FA9700;
}

.c5 {
    color: ;
}

.c6 {
    color: #4b4b4b;
}

.c7 {
    color: ;
}

.c8 {
    color: ;
}

.c9 {
    color: ;
}

.c10 {
    color: ;
}


.bgc1 {
    background-color: #ffffff;
}

.bgc2 {
    background-color: #000000;
}

.bgc3 {
    background-color: #cccccc;
}

.bgc4 {
    background-color: #FA9700;
}

.bgc5 {
    background-color: ;
}

.bgc6 {
    background-color: ;
}

.bgc7 {
    background-color: ;
}

.bgc8 {
    background-color: ;
}

.bgc9 {
    background-color: ;
}

.bgc10 {
    background-color: ;
}



a {
    text-decoration: none;
}



/*Fonts for Css*/


.fon1 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.fon2 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.fon3 {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*End of fonts section   */


/*  Media Queries     */




@media only screen and (max-width: 575px) {}

/*Mobile Devices*/
@media only screen and (max-width: 480px) {

    .nnxxs {
        width: 30%;
    }

    .imgnn {
        width: 50% !important;
        left: -10px !important;
        top: 8px !important;
    }

    .wwd {
        top: -90px !important;
        left: 12% !important;
        font-size: .8em;
    }

    .arrow {
        width: 20% !important;
        left: 20%;
        top: 0px !important;
    }

    .ns {
        font-size: 3em !important;
    }

    .succ {
        top: -25px !important;
        left: 40px;
    }

    .sideimg {
        position: relative;
        top: 0px !important;
        width: 50% !important;
    }

    .descsx {
        position: relative;
        top: -50px;
    }

    .the,
    .diff,
    .node,
    .nexus {
        font-size: 3.5em !important;
    }


    .ns {
        font-size: 3em !important;
    }



    .succ {
        transform: rotate(-10deg);
        position: relative;
        top: -30px !important;
        left: 0px !important;
    }

    .nn {
        font-size: .3em !important;
    }

    .navsuc {
        font-size: 3em !important;
        padding-top: 10% !important;
    }

    .header__marq-txt {
        font-size: 1.5em !important;
    }

    .about__p {
        font-size: 12px !important;
    }


}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .wwd {
        left: 0px !important;
        width: 100%;
        top: -80px !important;
    }

    .imgnn {
        width: 100% !important;
        left: -40px !important;
        top: 8px !important;
    }

    .sideimg {
        width: 200% !important;
        top: 225px !important;
    }


    .the,
    .diff,
    .node,
    .nexus {
        font-size: 3em !important;
    }

    .ns {
        font-size: 5em !important;
    }



    .succ {
        transform: rotate(-10deg);
        position: relative;
        top: -50px !important;
        left: 0px !important;
    }

    .arrow {
        top: 10px !important;
        width: 150%;
        left: 100%;
    }




}



/*Large devices*/
@media only screen and (min-width: 1281px) {}


/* End of Media Queries     */


/*Nav bar start*/



/*  --------------------------- Codes Start's From Here ---------------------------------*/


/* Paralax Effect On GSAP **********************************/
/* header ********/


/*
section {
	padding-top: 150px;
	padding-bottom: 50px;
}
*/

.wrapp {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.wrapp2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.content {
    width: 100%;
    padding: 0 70px;
}

.char {
    display: inline-block;
}























.header {
    position: relative;
    display: flex;
    padding: 0 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header__marq {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__marq {
    width: 100%;
    height: auto;
    background: #171717;
    overflow: hidden;
}

.header__marq-wrapp {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 70px;
}

.header__marq-txt {
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
    padding-right: 55px;
    margin-right: 15px;
    text-transform: uppercase;
    color: var(--pr-color);
    color: #9e9e9e;
    font-size: 35px;
}

.header__marq-star {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
}

.header__marq-star img {
    display: block;
    width: 100%;
    height: 100%;
}

.contenttitle {
    font-size: 70px;
    letter-spacing: 5px;
}

.title {
    position: relative;
    margin: 0;
    font-size: 85px;
    text-align: center;
    color: var(--pr-color);
    text-transform: uppercase;
    mix-blend-mode: difference;
    z-index: 2;
}

/*
.title_paralax {
    display: inline-block;
    will-change: transform;
}
*/

.title .stroke {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.header__img {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    right: 100px;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    overflow: hidden;
}

.header__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    line-height: .8;
    font-size: 70px;
    text-align: center;
    color: var(--pr-color);
    text-transform: uppercase;
}

.section-title .stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 1px solid var(--c4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.section-title__square2 {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 1px solid var(--c4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.logo_img {
    position: absolute;
    width: 10%;
    top: 10%;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    overflow: hidden;
}

.logo_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






















.zmore {
    z-index: 10;
}

#particles-js {
    position: absolute;
    width: 100%;
    z-index: 20;
    top: 0 !important;
}





.logorotate {
    animation: logorotate 7s ease-out infinite;
}

@keyframes logorotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    70% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


#sec2 {
    background-color: var(--c2);
    padding: 5%;
    z-index: 10;
}


.the {
    font-size: 4em;
    position: relative;
    top: -50px;
}

.diff {
    font-size: 4em;
    position: relative;
    top: -70px;
}

.node {
    font-size: 4em;
    position: relative;
    top: -80px;
}

.nexus {
    font-size: 4em;
    position: relative;
    top: -40px;
    left: 5px;
}

.ln {
    font-size: 1.5em;
}


.sideimg {
    position: relative;
    top: 80px;
}

#sec3 {
    background-color: var(--c1);
    padding: 5%;
}


.ns {
    font-size: 4em;
}



.succ {
    transform: rotate(-10deg);
    position: relative;
    top: -120px;
    left: 40px;
}

.arrow {
    position: relative;
    top: -80px;
    right: 50px;

}


#sec4 {
    background: var(--c2);
    padding: 5%;
}

.wel {
    font-size: 2em;
}


.custom-container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main""footer";
    overflow-x: hidden;
    background: #000;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    --footer-background: #34a4e8;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
        bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}

/* Add styles for links, b, p, and other elements */

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}




#speakersec1 {
    background-image: url(pictures/bg2.jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bgframe {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    /*    top: 00px;*/

}

.speakerbg1 {
    background-color: var(--c2);
    padding: 5%;
}

.speakerbg2 {
    background-color: var(--c1);
    padding: 5%;
}

#venusec1 {
    background-image: url(pictures/bg2.jpg);
    width: 100%;
    height: 80%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#venuesec2 {}











#firstsec {
    padding-top: 150px;
    /*	padding-bottom: 50px;*/
    height: 100vh;
    position: relative;
}

.nn {
    font-size: 1em;
    font-weight: bolder;
    color: var(--c1);
    letter-spacing: 5px;
}

.navsuc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 2px;
}


.marq_box {
    width: 100%;
    height: 8vh;
    background-color: #171717;
    color: var(--pr-color);
    bottom: 0px;
    overflow: hidden;
    position: absolute;
    bottom: 0px !important;
}


.marq_wrap {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 70px;

}

.header__marq-txt {
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
    padding-right: 55px;
    margin-right: 15px;
    text-transform: uppercase;
    color: var(--pr-color);
    color: #9e9e9e;
    font-size: 35px;

}

.header__marq-star {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
}

.header__marq-star img {
    display: block;
    width: 100%;
    height: 100%;
}


.stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

#Circle-Txt {
    font-size: 7px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    animation: rounded 10s linear infinite;
    color: orange;
    letter-spacing: 5px;
    padding: 2px;
}

.cursor {
    position: absolute;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
    /*    z-index: 100;*/
}

@keyframes rounded {
    100% {
        transform: rotate(360deg);
    }
}



#secondsec {
    padding-top: 10px;
    margin-bottom: 50px;
    position: relative;
    font-family: 'Syne', sans-serif;
    background-color: #fff;
}

.whatwd {
    color: #000;
}

.strokewe {
    color: transparent;
    -webkit-text-stroke: 1px var(--c4);
}

#thirdsec {
    padding-top: 10px;
    margin-bottom: 50px;
    position: relative;
    font-family: 'Syne', sans-serif;
}

.nnstroke {
    -webkit-text-stroke: 2px var(--c4);
    color: transparent;
}

#fourthsec {
    padding-top: 10px;
    margin-bottom: 50px;
    position: relative;
    font-family: 'Syne', sans-serif;
/*    background-color: var(--c1);*/
    
}





















.numbers {
    font-size: 80px;
}

.about__wrapp {
    display: flex;
    justify-content: space-between;
}





.dis__wrapp {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}

.about__img,
.about__txt {
    width: calc(80% - 5px);
    height: auto;
}

.about__txt {
    padding-right: 70px;
}

.about__p {
    position: absolute;
    line-height: 1.4;
    font-size: 25px;
    color: #4b4b4b;
}

.about__img {
    height: 100vh;
    overflow: hidden;
}

.about__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.discover__head {
    display: inline-block;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px var(--c1);
    text-transform: uppercase;
    letter-spacing: 3px;
        color: var(--c1);
}




.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: auto;
}

.benefits__item {
    list-style: none;
    /*	width: calc(33.33% - 27px);*/
}

/*
.benefits__item2 {
	list-style: none;
	width: calc(33.33% - 27px);
}
*/

.benefits__num {
    display: inline-block;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px var(--c4);
}

.benefits__p {
    font-size: 20px;
    color: #4b4b4b;
}



.footer {
    cursor: pointer;
}

.cufix {
    z-index: 150;
}

.footer-col ul {
    list-style: none;
    padding: 3px;
}


.footer-col ul li {
    list-style: none;
    padding: 10px;

}

.footer-col a {
    color: var(--c6) !important;

}

.social-links {
    padding-top: 10px;
    padding: 10px;
}

.social-links a {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: var(--c1);
    transition: .5s;
}



.social-links a:hover {
    background-color: orange;
    color: var(--c1) !important;
    transition: .5s;
}






/*project*/


.anim {
    margin: 0;
    /*	background:#15151e;*/
    overflow-x: hidden;
}



.races {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;

}

.imgcontain {
    width: 100%;
    height: 100vh;

}

.races img {
    width: 850px;
    height: 850px;
    padding-bottom: 20%;
}


.lightBG {
    background: #313143;
}


.space-50vh {
    height: 50vh;
}

.space-100vh {
    height: 100vh;
}

#projectsec1 {
    background-image: url(pictures/bg1.jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.imgnn {
    position: relative;
    left: -100px;
    top: -38px;
}


.wwd {
    position: relative;
    top: 80px;
    left: -280px;
}

.wwdtitle {
    font-size: 2.5em;
}

.nns {}



#projectsec2 {
    background-color: var(--c2);
    /*    padding: 5%;*/
}

#projectsec3 {
    background-color: var(--c3);
    /*    padding: 5%;*/
}
